{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.typeBadge" . }}

## Installing the Chart

To install the chart with the release name `my-diz`:

```console
helm install my-diz oci://ghcr.io/bzkf/diz-in-a-box/charts/diz-in-a-box
```

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
