services:
  obds-fhir-to-opal:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .demo.env
    environment:
      OUTPUT_FOLDER: "/home/spark/opal-output"
      STUDY_NAME: "study_protocol_d" #"pca_therapies1" # "study_protocol_c" #study_protocol_a0_1_3_7_d # "PoC"
      LOCATION: "UKER"
      SPARK_S3_ENDPOINT: minio:9000
      SPARK_CHECKPOINT_DIR: s3a://spark-streaming-checkpoints/fhir-to-delta
      DELTA_DATABASE_DIR: "s3a://fhir/"
    volumes:
      - ./opal-output:/home/spark/opal-output:rw
    ports:
      - "4040:4040" # Weiterleitung des Spark UI Ports
