pyspark==3.5.6
pathling==7.2.0
delta-spark==3.3.2
pathling==7.2.0
pydantic==1.10.22
pandas==2.3.1
python-dateutil==2.9.0.post0
xlsxwriter==3.2.5
pytest==8.4.1
loguru==0.7.3
openpyxl==3.1.5
matplotlib==3.10.5
numpy==2.1.1
plotly==5.24.1
