apiVersion: v2
name: onco-analytics-on-fhir
type: application
description: DIZ in a box.
deprecated: false
kubeVersion: ">= 1.21.0"
dependencies:
  - name: akhq
    condition: akhq.enabled
    repository: https://akhq.io/
    version: 0.26.0
  - condition: stream-processors.enabled
    name: stream-processors
    repository: https://miracum.github.io/charts
    version: 1.11.3
  - condition: hapi-fhir-jpaserver.enabled
    name: hapi-fhir-jpaserver
    repository: https://hapifhir.github.io/hapi-fhir-jpaserver-starter
    version: 0.22.0
  - condition: fhir-gateway.enabled
    name: fhir-gateway
    repository: https://miracum.github.io/charts
    version: 9.0.58
# x-release-please-start-version
version: 2.16.1
appVersion: 2.16.1
# x-release-please-end-version
