charts/**/charts
megalinter-reports/
*.tgz
*.tar
*.tar.gz

dist/

docker-compose/*normalized.yaml
docker-compose/save-images.sh

__pycache__/
.pytest_cache
.coverage

.vscode

.venv/

*.jar

*.tar.gz.*

analytics_on_fhir/results/
analytics_on_fhir/spark-checkpoints/

.env
