charts/**/charts
megalinter-reports/
*.tgz
*.tar
*.tar.gz

dist/

docker-compose/*normalized.yaml
docker-compose/save-images.sh

__pycache__/
.pytest_cache
.coverage

bundles-delta/
*.csv

.vscode

.venv/
