services:
  trino:
    image: docker.io/trinodb/trino:477@sha256:ada485e4bffb90f859b401dc04c393d147b5840846ef66b27110662eb2675854
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    cap_drop:
      - ALL
    privileged: false
    restart: unless-stopped
    environment:
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID:?}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY:?}"
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - ./config/etc:/usr/lib/trino/etc:ro
      - ./config/catalog:/etc/trino/catalog:ro
    depends_on:
      - hive-metastore
      - minio

  kafka-fhir-to-delta:
    environment:
      METASTORE_URL: "thrift://hive-metastore:9083"

  hive-metastore-db:
    image: docker.io/library/postgres:18.0@sha256:ad98a3ba6a3b5e53e9bd95afed6930d3103efc890240643a168b590bcf2e6e81
    ipc: private
    privileged: false
    restart: unless-stopped
    environment:
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: ${HIVE_METASTORE_DB_PASSWORD:?}
      POSTGRES_DB: metastore
    volumes:
      - hive-metastore-db-data:/var/lib/postgresql/data:rw

  hive-metastore:
    image: ghcr.io/miracum/util-images/hive-metastore:v1.3.0@sha256:4b83eb4b7efd3f3dcd70d255336605e6cc5e028115460016837009664753d021
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    cap_drop:
      - ALL
    privileged: false
    restart: unless-stopped
    environment:
      SERVICE_NAME: metastore
      DB_DRIVER: postgres
      SERVICE_OPTS: "-Djavax.jdo.option.ConnectionUserName=hive -Djavax.jdo.option.ConnectionPassword=${HIVE_METASTORE_DB_PASSWORD:?}"
      AWS_ACCESS_KEY_ID: "admin"
      AWS_SECRET_ACCESS_KEY: "miniopass"
      AWS_DEFAULT_REGION: "eu-central-1"
    volumes:
      - ./config/hive-site.xml:/opt/hive/conf/hive-site.xml:ro
    depends_on:
      hive-metastore-db:
        condition: service_started

volumes:
  hive-metastore-db-data: {}
