services:
  decompose-xmls:
    image: ${IMAGE_REGISTRY_GHCR_IO:-ghcr.io}/bzkf/onco-analytics-on-fhir/decompose-xmls:v2.15.0
    user: "${USER_ID:-1000}:${GROUP_ID:-1000}"
    environment:
      KAFKA_ENABLED: "true"
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      KAFKA_OUTPUT_TOPIC: "onkostar.MELDUNG_EXPORT"
      SAVE_AS_FILES_ENABLED: "false"
      # Set to 'true' to enable removing of leading zeros in patient IDs
      REMOVE_LEADING_PATIENTID_ZEROS: "false"
    volumes:
      - ${DECOMPOSE_XMLS_INPUT_OBDS_DIR:-./input-obds-reports}:/app/input-obds-reports:ro
      - ./output-obds-reports:/app/output-obds-reports:rw
