services:
  obds-fhir-to-opal:
    image: ${IMAGE_REGISTRY_GHCR_IO:-ghcr.io}/bzkf/onco-analytics-on-fhir/obds-fhir-to-opal:${OBDS_FHIR_TO_OPAL_IMAGE_TAG:-v2.9.0} # x-release-please-version
    restart: no
    cap_drop:
      - ALL
    privileged: false
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    user: "1001:1001"
    environment:
      OUTPUT_FOLDER: "/home/spark/opal-output"
      STUDY_NAME: "${STUDY_NAME:-study_protocol_d}"
      LOCATION: "${LOCATION:-UKER}"
      SPARK_DRIVER_MEMORY: "${SPARK_DRIVER_MEMORY:-10g}"
      SPARK_S3_ENDPOINT: minio:9000
      DELTA_DATABASE_DIR: "s3a://fhir/default/"
      SPARK_CHECKPOINT_DIR: "/tmp/spark-checkpoints/fhir-to-opal"
      KAFKA_PATIENT_TOPIC: "${KAFKA_PATIENT_TOPIC:-fhir.obds.Patient}"
      KAFKA_CONDITION_TOPIC: "${KAFKA_CONDITION_TOPIC:-fhir.obds.Condition}"
      KAFKA_OBSERVATION_TOPIC: "${KAFKA_OBSERVATION_TOPIC:-fhir.obds.Observation}"
      KAFKA_PROCEDURE_TOPIC: "${KAFKA_PROCEDURE_TOPIC:-fhir.obds.Procedure}"
      KAFKA_MEDICATIONSTATEMENT_TOPIC: "${KAFKA_MEDICATIONSTATEMENT_TOPIC:-fhir.obds.MedicationStatement}"
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:?}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:?}
    volumes:
      - ./opal-output:/home/spark/opal-output:rw
