services:
  analytics-on-fhir:
    image: ${IMAGE_REGISTRY_GHCR_IO:-ghcr.io}/bzkf/onco-analytics-on-fhir/analytics-on-fhir:${ANALYTICS_ON_FHIR_IMAGE_TAG:-v2.13.1} # x-release-please-version
    restart: no
    cap_drop:
      - ALL
    privileged: false
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    user: "65532:65532"
    environment:
      SPARK_CHECKPOINT_DIR: "/tmp/spark-checkpoints/analytics-on-fhir"
      STUDY_NAME: "${STUDY_NAME:-embark_rwd}"
      SPARK_S3_ENDPOINT: minio:9000
      DELTA_DATABASE_PATH: "${DELTA_DATABASE_PATH:-s3a://fhir/default/}"
      SPARK_DRIVER_MEMORY: "${SPARK_DRIVER_MEMORY:-8g}"
      SPARK_MASTER: "local[4]"
      RESULTS_DIRECTORY_PATH: "/home/nonroot/analytics-output/"
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:?}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:?}
      LOCATION: "${LOCATION:-UKER}"
    volumes:
      - ./opal-output:/home/nonroot/analytics-output/:rw
