services:
  opal:
    image: docker.io/obiba/opal:5.5.2@sha256:8d22f2533b4925817300aa1b5dac239a33cd92d81e23a1ed4816b28a723fe82b
    restart: unless-stopped
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    privileged: false
    environment:
      OPAL_ADMINISTRATOR_PASSWORD: ${OPAL_ADMINISTRATOR_PASSWORD:?}
      ROCK_HOSTS: "rock-0:8085,rock-1:8085,rock-2:8085"
      ROCK_ADMINISTRATOR_USER: administrator
      ROCK_ADMINISTRATOR_PASSWORD: ${ROCK_ADMINISTRATOR_PASSWORD:?}
      ROCK_MANAGER_USER: manager
      ROCK_MANAGER_PASSWORD: ${ROCK_MANAGER_PASSWORD:?}
      ROCK_USER_USER: user
      ROCK_USER_PASSWORD: ${ROCK_USER_PASSWORD:?}
      POSTGRESDATA_HOST: opal-db
      POSTGRESDATA_USER: postgres
      POSTGRESDATA_PASSWORD: ${POSTGRES_PASSWORD:?}
      POSTGRESDATA_DATABASE: opal
      CSRF_ALLOWED: opal.127.0.0.1.nip.io
    ports:
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:8443:8443"
    volumes:
      - "opal_srv_data:/srv:rw"
    depends_on:
      - opal-db
      - rock-0
      - rock-1
      - rock-2

  opal-db:
    image: docker.io/library/postgres:18.2@sha256:b6b4d0b75c699a2c94dfc5a94fe09f38630f3b67ab0e1653ede1b7ac8e13c197
    restart: unless-stopped
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    privileged: false
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?}
      POSTGRES_DB: opal
    volumes:
      - "opal_db_data:/var/lib/postgresql:rw"

  rock-0:
    image: docker.io/datashield/rock-base:6.3.4@sha256:a827541597d9d4653c9f5590cf529c73adcbdd8f1a25c9bc9fb7b8811e03b2e9
    restart: unless-stopped
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    privileged: false
    environment:
      ROCK_CLUSTER: default
      ROCK_ID: "0"
      ROCK_ADMINISTRATOR_NAME: administrator
      ROCK_ADMINISTRATOR_PASSWORD: ${ROCK_ADMINISTRATOR_PASSWORD:?}
      ROCK_MANAGER_NAME: manager
      ROCK_MANAGER_PASSWORD: ${ROCK_MANAGER_PASSWORD:?}
      ROCK_USER_NAME: user
      ROCK_USER_PASSWORD: ${ROCK_USER_PASSWORD:?}

  rock-1:
    image: docker.io/datashield/rock-base:6.3.4@sha256:a827541597d9d4653c9f5590cf529c73adcbdd8f1a25c9bc9fb7b8811e03b2e9
    restart: unless-stopped
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    privileged: false
    environment:
      ROCK_CLUSTER: default
      ROCK_ID: "1"
      ROCK_ADMINISTRATOR_NAME: administrator
      ROCK_ADMINISTRATOR_PASSWORD: ${ROCK_ADMINISTRATOR_PASSWORD:?}
      ROCK_MANAGER_NAME: manager
      ROCK_MANAGER_PASSWORD: ${ROCK_MANAGER_PASSWORD:?}
      ROCK_USER_NAME: user
      ROCK_USER_PASSWORD: ${ROCK_USER_PASSWORD:?}

  rock-2:
    image: docker.io/datashield/rock-base:6.3.4@sha256:a827541597d9d4653c9f5590cf529c73adcbdd8f1a25c9bc9fb7b8811e03b2e9
    restart: unless-stopped
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    privileged: false
    environment:
      ROCK_CLUSTER: default
      ROCK_ID: "2"
      ROCK_ADMINISTRATOR_NAME: administrator
      ROCK_ADMINISTRATOR_PASSWORD: ${ROCK_ADMINISTRATOR_PASSWORD:?}
      ROCK_MANAGER_NAME: manager
      ROCK_MANAGER_PASSWORD: ${ROCK_MANAGER_PASSWORD:?}
      ROCK_USER_NAME: user
      ROCK_USER_PASSWORD: ${ROCK_USER_PASSWORD:?}

volumes:
  opal_db_data:
    driver: local
  opal_srv_data:
    driver: local
