name: release-please

on:
  push:
    branches:
      - master

permissions: read-all

jobs:
  release-please:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: google-github-actions/release-please-action@db8f2c60ee802b3748b512940dde88eabd7b7e01 # v3.7.13
        with:
          token: ${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}
          release-type: simple
          pull-request-title-pattern: "chore: release ${version}"
          extra-files: |
            charts/diz-in-a-box/Chart.yaml
            charts/prerequisites/Chart.yaml
            README.md
            docker-compose/compose.decompose-xmls.yaml
            docker-compose/compose.obds-fhir-to-opal.yaml
          changelog-types: |
            [
              { "type": "feat", "section": "Features" },
              { "type": "fix", "section": "Bug Fixes" },
              { "type": "perf", "section": "Performance Improvements" },
              { "type": "docs", "section": "Documentation", "hidden": false },
              {
                "type": "chore",
                "section": "Miscellaneous Chores",
                "hidden": false
              },
              { "type": "build", "section": "Build", "hidden": false },
              { "type": "ci", "section": "CI/CD", "hidden": false }
            ]
